<!-- Wrapper -->
<div id="wrapper">

{% include svg-icons.html %}
<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ site.url }}" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a id="search" class="dosearch">
			<svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
		</a>
		<a href="#menu" style="color:white;">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% for page in site.pages %}
			{% if page.nav-menu == true %}
				{% if page.landing-title == "TextMe" %}
					<li><a href="{{page.url | absolute_url}}" class="button special fit">Text Me :)</a></li>
				{% else %}
					<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
				{% endif %}
		    {% endif %}
		{% endfor %}
	</ul>
</nav>
