---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    {% include headapn.html %}
    {% include head.html %}
    <body>
        {% include header.html %}
        {% include search.html %}
        <link rel="stylesheet" href="{{ "assets/css/allpostsnew.css" | prepend: site.baseurl }}">
            <section class="content">
                {{ content }}
            </section>
        <script src="{{ "/assets/js/allpostsnew.js" | prepend: site.baseurl }}"></script>
        {% include footer.html %}
    </body>
</html>

