<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <!-- Main -->
    <div id="main" class="alt">

		<section id="two" class="spotlights">
			{% for post in site.posts %}
				{% if post.title != 404 %}
					<section>
						<a href="{{ site.url }}/{{ post.url }}" class="image">
							<img src="{{ site.baseurl }}/{{ post.image }}" alt="" data-position="center center" />
						</a>
						<div class="content">
							<div class="inner">
								<header class="major">
									<h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
								</header>
								{% if post.date %}
									<p>{{ post.date }}</p>
								{% endif %}
								<p class="">
									{{ post.content | strip_html | strip_newlines | truncate: 120 }}
								</p>
								<ul class="actions">
									<li><a href="{{ site.url }}{{ post.url }}" class="button">Learn more</a></li>
								</ul>
							</div>
						</div>
					</section>
				{% endif %}
			{% endfor %}
		</section>

    </div>

    {% include footer.html %}

  </body>

</html>
